body{
    font-family: Arial,sans-serif;
}
.conteiner{
    max-width: 1230px;
    margin: 0 auto;
}
.wrapper_flex_spbw{
    display: flex;
    justify-content: space-between;
}
.header{
    background-image: url(img/bg_header.png);
    background-size: cover;
    padding: 40px 0 50px;
    color: #FFFFFF;
}
.wrapper_header{
    display: flex;
    flex-direction: column;
}
.header_title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 315px;
}
.header_logo{
    display: flex;
    align-items: center;
}
.header_logo_p{
    font-size: 34px;
}
.header_nav_link{
    display: flex;
    align-items: center;
}
.header_nav_link_ref{
    text-decoration: none;
    color: #FFFFFF;
    margin-right: 23px;
    font-size: 14px;
}
.header_nav_link_svg{
    fill:#FFFFFF;
}
.header_nav_link_ref:hover{
    color: #C7B299;
    fill: #C7B299;

}
.header_nav_link_svg:hover {
    fill: #C7B299;
}
.header_nav_link_ref:nth-of-type(8){
    margin-right: 54px;
}
.header_nav_link_ref:nth-of-type(9){
    margin-right: 30px;
}
.header_main_with_slaiders{
    display: flex;
    
}
.header_slaider{
    fill:#D3C1AC;
}
.header_slaider:nth-of-type(1){
    margin-left: -120px;
}
.header_slaider:nth-of-type(2){
    margin-right: -120px;
    }
.header_main{
    margin: 0 auto;
    max-width: 570px;
    text-align: center;
}
.header_main_h3{
    font-family: Raleway,sans-serif;
    font-size: 36px;
}
.header_main_h2{
    font-family: Raleway,sans-serif;
    font-size: 52px;
    margin-bottom: 4px;
}
.header_main_p{
    font-family: Montserrat,sans-serif;
    font-size: 16px;
    margin-bottom: 40px;
}
.header_button{
    font-family: Roboto,sans-serif;
    font-size: 14px;
    border-radius: 3px;
    border: 0 solid #988574;
    padding: 20px 40px;
    background-color: #988574;
    color: #FFFFFF;
    margin-bottom: 310px;
}
.header_circle{
    display: flex;
    margin: 0 auto;
    align-items: center;
}
.header_circle_item{
    border-radius: 50%;
    background-color: #FFFFFF;
    height: 10px;
    width: 10px;
    border: 1px solid #D3C1AD;
}
.header_circle_item:not(:last-of-type){
    margin-right: 10px;
}
.header_circle_item:hover{
    transform: scale(1.5);
    background-color: unset;
    border: 1px solid #D3C1AD;
}
.services{
    padding: 90px 0 85px;
}
.services_item{
    text-align: center;
}
.svg_services_item{
    margin-bottom: 30px;
    fill: #555555;
}
.h4_services_item{
    font-family: Raleway,sans-serif;
    font-size: 22px;
    color: #555555;
    margin-bottom: 20px;
}
.p_services_item{
    font-family: Montserrat,sans-serif;
    font-size: 14px;
    text-align: center;
    color: #000000;
    margin-bottom: 30px;
}
.services_item_rectangle{
    width: 70px;
    height: 3px;
    background: #F1EEE9;
    margin: 0 auto;
}
.services_item:hover .svg_services_item{
    fill:#C7B299;
}
.services_item:hover .h4_services_item{
    color:#C7B299;
}
.services_item:hover .services_item_rectangle{
    background:#C7B299;
}
.realization{
    background-color: #FBFAF8;
    padding-top: 80px;
}
.h3_realization{
    font-family: Raleway,sans-serif;
    font-weight: 600;
    font-size: 30px;
    color: #555555;
    text-align: center;
    margin-bottom: 20px;
}
.p_realization{
    font-family: Montserrat,sans-serif;
    font-size: 16px;
    text-align: center;
    color: #8C8C8C;
    margin-bottom: 40px;
}
.purchase{
    background: radial-gradient(94.87% 15543.47% at 4.58% 100%, #211B19 0%, #4E3326 100%);
    padding: 45 0 40 0;
}
.wrapper_purchase{
    display: flex;
    justify-content: space-between;
}
.h3_purchase{
    font-family: Raleway,sans-serif;
    font-size: 28px;
    color: #FFFFFF;
}
.h3_span_purchase{
    color:#C7B299;
}
.p_purchase{
    font-family: Montserrat,sans-serif;
    font-size: 18px;;
    color: #615855;
}
.purchase_button{
    font-family: Roboto,sans-serif;
    font-size: 14px;
    border-radius: 3px;
    border: 0 solid #988574;
    padding: 20px 30px;
    background-color: #988574;
    color: #FFFFFF;
    text-transform: uppercase;
}
.wrapper_project{
    padding: 60px 0 30px 0;
    text-align: center;
    
} 
.h3_project_title{
    font-family: Raleway;
    font-size: 30px;
    color: #555555;
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
}
.p_project_title{
    font-family: Montserrat;
    font-size: 16px;
    color: #8C8C8C;
    text-align: center;
    max-width: 800px;
    margin: 0 auto 27px;
}

.project_radio{
    display: none;
}
.project_button_select{
    display: flex;
    justify-content: center;
    margin-bottom: 70px;
}
.project_button_radio{
    border: 1px solid #EBEBEB;
    box-sizing: border-box;
    width: 120px;
    height: 30px;
    color: #8C8C8C;
    border-radius: 3px;
    font-family: Montserrat;
    font-size: 14px;
    text-align: center;
    padding-top: 7px;
}
.project_label:not(:last-of-type){
    margin-right: 10px;
}
input[type="radio"]:checked + .project_button_radio{
    color: #FFFFFF;
    background: #998575;
} 
.project_items{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 47px;
    text-align:start;
}
.figure_project_item{
    /* display: flex; */
    width: 30%;
    width: 370px;
    background: #FBFAF8;
    position: relative;
}
.figure_project_item:hover {
    -webkit-filter:brightness(50%);
    -moz-filter:brightness(50%);
    filter: url(#brightness);
    filter:brightness(50%);
    background: #352F2D;
    position: relative;
    /* color: #FFFFFF; */
}

.figure_project_item::after {
    content: '';
    position: absolute;
    top: 207px;
    left: 14px;
    border: 20px solid transparent;
    border-bottom: 10px solid #FBFAF8;
   }
.figure_project_item:hover::after {
    border-bottom: 10px solid #352F2D;
}
.img_project_item{
    margin-bottom: 25px;
}
.h4_project_item{
    font-family: Raleway;
    font-size: 20px;
    color: #C7B299;
    margin-bottom: 8px;
    padding-left: 28px;
}
.figure_project_item:hover .h4_project_item{
    color: #FFFFFF;
}
.p_project_item{
    font-size: 14px;
    color: #D1D1D1;
    margin-bottom: 25px;
    padding-left: 29px;
}
.figure_project_item:hover .p_project_item{
    color: #C7B299;
}
.project_button_load{
    font-family: Roboto,sans-serif;
    font-size: 14px;
    padding: 18px 46px;
    background-color: #988574;
    color: #FFFFFF;
    border-radius: 3px ;
    border: 0 solid #988574;
}
.video_back {
    position: relative;
    width: 100%;
    height: 705px;
    /* padding-top:45%; */
    overflow: hidden;
    z-index: -100;
    /* padding: 430px 0 230px 0; */
}
.h3_video_back{
    font-family: Raleway;
    font-weight: 500;
    font-size: 30px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 20px;
    margin-top: 430px;
}
.p_video_back{
    font-family: Montserrat;
    font-size: 16px;
    text-align: center;
    color: #FFFFFF;
    max-width: 570px;
    margin: 0 auto;
}
.wrapper_video_back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -100;
}