body{
    font-family: Arial,sans-serif;
}
.conteiner{
    max-width: 1230px;
    margin: 0 auto;
}
.wrapper_flex_spbw{
    display: flex;
    justify-content: space-between;
}
.header{
    background-image: url(img/bg_header.png);
    background-size: cover;
    padding: 40px 0 50px;
    color: #FFFFFF;
}
.wrapper_header{
    display: flex;
    flex-direction: column;
}
.header_title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 315px;
}
.header_logo{
    display: flex;
    align-items: center;
}
.header_logo_p{
    font-size: 34px;
}
.header_nav_link{
    display: flex;
    align-items: center;
}
.header_nav_link_ref{
    text-decoration: none;
    color: #FFFFFF;
    margin-right: 23px;
    font-size: 14px;
}
.header_nav_link_svg{
    fill:#FFFFFF;
}
.header_nav_link_ref:hover{
    color: #C7B299;
    fill: #C7B299;
}
.header_nav_link_svg:hover {
    fill: #C7B299;
}
.header_nav_link_ref:nth-of-type(8){
    margin-right: 54px;
}
.header_nav_link_ref:nth-of-type(9){
    margin-right: 30px;
}
.header_main_with_slaiders{
    display: flex;
    
}
.header_slaider{
    fill:#D3C1AC;
}
.header_slaider:nth-of-type(1){
    margin-left: -120px;
}
.header_slaider:nth-of-type(2){
    margin-right: -120px;
    }
.header_main{
    margin: 0 auto;
    max-width: 570px;
    text-align: center;
}
.header_main_h3{
    font-family: Raleway,sans-serif;
    font-size: 36px;
}
.header_main_h2{
    font-family: Raleway,sans-serif;
    font-size: 52px;
    margin-bottom: 4px;
}
.header_main_p{
    font-family: Montserrat,sans-serif;
    font-size: 16px;
    margin-bottom: 40px;
}
.header_button{
    font-family: Roboto,sans-serif;
    font-size: 14px;
    border-radius: 3px;
    border: 0 solid #988574;
    padding: 20px 40px;
    background-color: #988574;
    color: #FFFFFF;
    margin-bottom: 310px;
}
.header_circle{
    display: flex;
    margin: 0 auto;
    align-items: center;
}
.header_circle_item{
    border-radius: 50%;
    background-color: #FFFFFF;
    height: 10px;
    width: 10px;
    border: 1px solid #D3C1AD;
}
.header_circle_item:not(:last-of-type){
    margin-right: 10px;
}
.header_circle_item:hover{
    transform: scale(1.5);
    background-color: unset;
    border: 1px solid #D3C1AD;
}
.services{
    padding: 90px 0 85px;
}
.services_item{
    text-align: center;
}
.svg_services_item{
    margin-bottom: 30px;
    fill: #555555;
}
.h4_services_item{
    font-family: Raleway,sans-serif;
    font-size: 22px;
    color: #555555;
    margin-bottom: 20px;
}
.p_services_item{
    font-family: Montserrat,sans-serif;
    font-size: 14px;
    text-align: center;
    color: #000000;
    margin-bottom: 30px;
}
.services_item_rectangle{
    width: 70px;
    height: 3px;
    background: #F1EEE9;
    margin: 0 auto;
}
.services_item:hover .svg_services_item{
    fill:#C7B299;
}
.services_item:hover .h4_services_item{
    color:#C7B299;
}
.services_item:hover .services_item_rectangle{
    background:#C7B299;
}
.realization{
    background-color: #FBFAF8;
    padding-top: 80px;
}
.h3_realization{
    font-family: Raleway,sans-serif;
    font-weight: 600;
    font-size: 30px;
    color: #555555;
    text-align: center;
    margin-bottom: 20px;
}
.p_realization{
    font-family: Montserrat,sans-serif;
    font-size: 16px;
    text-align: center;
    color: #8C8C8C;
    margin-bottom: 40px;
}
.purchase{
    background: radial-gradient(94.87% 15543.47% at 4.58% 100%, #211B19 0%, #4E3326 100%);
    padding: 45 0 40 0;
}
.wrapper_purchase{
    display: flex;
    justify-content: space-between;
}
.h3_purchase{
    font-family: Raleway,sans-serif;
    font-size: 28px;
    color: #FFFFFF;
}
.h3_span_purchase{
    color:#C7B299;
}
.p_purchase{
    font-family: Montserrat,sans-serif;
    font-size: 18px;;
    color: #615855;
}
.purchase_button{
    font-family: Roboto,sans-serif;
    font-size: 14px;
    border-radius: 3px;
    border: 0 solid #988574;
    padding: 20px 30px;
    background-color: #988574;
    color: #FFFFFF;
    text-transform: uppercase;
}
.wrapper_project{
    padding: 60px 0 30px 0;
    text-align: center;
    
} 
.h3_project_title{
    font-family: Raleway;
    font-size: 30px;
    color: #555555;
    text-align: center;
    max-width: 800px;
    margin: 0 auto 9;
}
.p_project_title{
    font-family: Montserrat;
    font-size: 16px;
    color: #8C8C8C;
    text-align: center;
    max-width: 800px;
    margin: 0 auto 27px;
}

.project_radio{
    display: none;
}
.project_button_select{
    display: flex;
    justify-content: center;
    margin-bottom: 70px;
}
.project_button_radio{
    border: 1px solid #EBEBEB;
    box-sizing: border-box;
    width: 120px;
    height: 30px;
    color: #8C8C8C;
    border-radius: 3px;
    font-family: Montserrat;
    font-size: 14px;
    text-align: center;
    padding-top: 7px;
}
.project_label:not(:last-of-type){
    margin-right: 10px;
}
input[type="radio"]:checked + .project_button_radio{
    color: #FFFFFF;
    background: #998575;
} 
.project_items{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 47px;
    text-align:start;
}

.figure_project_item{
    width: 30%;
    width: 370px;
    background: #FBFAF8;
    position: relative;
}
.figure_project_item:nth-of-type(-n+3){
    margin-bottom: 70px;
}
.figure_project_item:hover {
    -webkit-filter:brightness(50%);
    -moz-filter:brightness(50%);
    filter: url(#brightness);
    filter:brightness(50%);
    background: #352F2D;
    position: relative;
}

.figure_project_item::after {
    content: '';
    position: absolute;
    top: 207px;
    left: 14px;
    border: 20px solid transparent;
    border-bottom: 10px solid #FBFAF8;
   }
.figure_project_item:hover::after {
    border-bottom: 10px solid #352F2D;
}
.img_project_item{
    margin-bottom: 25px;
}
.h4_project_item{
    font-family: Raleway;
    font-size: 20px;
    color: #C7B299;
    margin-bottom: 8px;
    padding-left: 28px;
}
.figure_project_item:hover .h4_project_item{
    color: #FFFFFF;
}
.p_project_item{
    font-size: 14px;
    color: #D1D1D1;
    margin-bottom: 25px;
    padding-left: 29px;
}
.figure_project_item:hover .p_project_item{
    color: #C7B299;
}
.project_button_load{
    font-family: Roboto,sans-serif;
    font-size: 14px;
    padding: 18px 46px;
    background-color: #988574;
    color: #FFFFFF;
    border-radius: 3px ;
    border: 0 solid #988574;
}
.video_back {
    position: relative;
    width: 100%;
    height: 705px;
    overflow: hidden;
    z-index: -100;
}
.h3_video_back{
    font-family: Raleway;
    font-weight: 500;
    font-size: 30px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 20px;
    margin-top: 430px;
}
.p_video_back{
    font-family: Montserrat;
    font-size: 16px;
    text-align: center;
    color: #FFFFFF;
    max-width: 570px;
    margin: 0 auto;
}
.wrapper_video_back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -100;
}
.mobil_devices{
    padding-top: 80px;
}
.figure__mobil_devices{
    display: flex;
    justify-content: center;
}
.figcaption__mobil_devices{
    padding-top: 110px;
}
.h4__mobil_devices{
    font-family: Raleway;
    font-size: 30px;
    color: #555555;
    margin-bottom: 20px;
}
.p__mobil_devices{
    font-family: Montserrat;
    font-size: 16px;
    color: #8C8C8C;
    margin-bottom: 50px;
}
.mobil_devices_list-item{
    font-family: Montserrat;
    font-size: 16px;
    color: #8C8C8C;
    padding-left: 65px;
}
.mobil_devices_list-item::before{
    content: url(img/circle_arrow.png);
    margin-right: 5px;
}
.counters{
    background: radial-gradient(94.87% 15543.47% at 4.58% 100%, #211B19 0%, #4E3326 100%);
    display: flex;
    justify-content: center;
    padding: 36px 0;
}
.counters_item{
    text-align: center;
    position: relative;
}
.counters_item:not(:last-of-type){
    margin-right: 70px;
}
.h3_counters_item{
    font-family: Montserrat;
    font-size: 48px;
    text-align: center;
    color: #FFFFFF;
}
.p_counters_item{
    font-family: Montserrat;
    font-size: 14px;
    color: #C7B299;
}
.counters_item::after{
    content: '';
    width: 31%;
    height: 2px;
    background-color: #FFFFFF;
    display: block;
    position: absolute;
    transform: translate(50%, 0);
    bottom: -15px;
    right: 50%;
}
.recent_posts{
    padding: 100px 0 38px 0;
}
.h3_recent_posts{
    font-family: Raleway;
    font-size: 30px;
    text-align: center;
    color: #555555;
}
.p_recent_posts{
    font-family: Montserrat;
    font-size: 16px;
    line-height: 1.75;
    text-align: center;
    color: #8C8C8C;
    width: 770px;
    margin: 0 auto 30px auto ;
}
.wrapper_recent_posts_item{
    display: flex;
    justify-content: space-between;
    margin-bottom: 55px;
}
.recent_posts_item{
    display: inline-block;
    width: 31%;
    position: relative;
}
.recent_posts_item__img-wrapper{
    position: relative;
}
.img_recent_posts{
    width: 100%;
}

.recent_posts_item__action-wrapper {
    display: none;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
  }
  .recent_posts_item:hover .recent_posts_item__action-wrapper {
    display: flex;
  }
 
  .recent_post_item_date{
    position: absolute;
    top: 17px;
    left: 23px;
    border-radius: 3px;
}
.recent_post_item_date_num{
    background-color: #363636;
    font-family: Montserrat;
    font-size: 30px;
    color: #FFFFFF;
    text-align: center;
    padding: 6px 6px 3px 6px;
}
.recent_posts_item:hover .recent_post_item_date_num {
    background-color:#C7B199;
  }
.recent_post_item_date_month{
    background-color: #242424;;
    font-family: Roboto;
    font-size: 12px;
    color: #FFFFFF;
    padding: 5px 0;
    text-align: center;
}
.recent_posts_item:hover .recent_post_item_date_month {
    background-color:#A48D71;
  }
.figcaption_recent_posts_item{
    border-bottom: 1px solid #B2B2B2;
    border-left: 1px solid #B2B2B2;
    border-right: 1px solid #B2B2B2;
    padding-left: 23px;
}
.recent_posts_item:hover .figcaption_recent_posts_item {
    background-color: #352F2D;
}
.h4_recent_posts_item{
    font-family: Raleway;
    font-size: 20px;
    color: #555555;
    margin-bottom: 20px;
    padding-top: 30px;
}
.recent_posts_item:hover .h4_recent_posts_item {
    color: #C7B299;
}
.p_recent_posts_item{
    font-family: Montserrat;
    font-size: 14px;
    line-height: 1.5;
    color: #000000;
    margin-bottom: 17px;
}
.recent_posts_item:hover .p_recent_posts_item {
    color: #FFFFFF;
  }
.p_link_recent_posts_item{
    font-family: Montserrat;
    font-size: 14px;
    color: #C7B299;
    margin-bottom: 20px;
}
.svg_link_recent_posts_item{
    fill :#C7B299;
    margin-left: 9px;
}
.svg__nav_recent_posts{
    text-align: center;
}
.svg_left_recent_posts{
    margin-right: 18px;
}
.svg_right_recent_posts{
    transform: rotate(180deg);
}
.partners{
    background-image: url(img/bg_partners.png);
    background-size: cover;
    padding: 140px 0;
    /* text-align: center; */
}
.wrapper_partners{
    text-align: center;
} 
.img_partners{
    vertical-align: middle;
}
.img_partners:not(:last-of-type){
    margin-right: 75px;
}
.footer_main{
    background-color: #191919;
}
.footer_articles{
    display: flex;
    justify-content: space-between;
    padding: 105px 0 130px 0;
}
.footer_article_item{
    width: 23%;
}
.footer_article_item:nth-of-type(1){
    transform: translate(0, -35px);
}
.footer_article_item_logo{
    display: flex;
    align-items: center;
    margin-bottom: 18px;
}
.footer_article_item_p{
    font-family: Raleway;
    font-size: 34px;
    color: #FFFFFF;
    
}
.footer_article_item_text{
    font-family: Montserrat;
    font-size: 14px;
    color: #555555;
    margin-bottom: 18px;
}
.footer_article_item_text_read{
    font-family: Montserrat;
    font-size: 14px;
    color: #D1D1D1;
    text-decoration: none;
}
.svg_footer_article_item_read{
    fill:#D1D1D1;
}
.footer_article_h5{
    font-family: Raleway;
    font-size: 24px;
    color: #FFFFFF;
    margin-bottom: 20px;
}
.footer_article_post_date{
    font-family: Montserrat;
    font-size: 12px;
    color: #363636;
    margin-bottom: 5px;
}
.footer_article_post_text{
    font-family: Montserrat;
    font-size: 14px;
    color: #555555;
    margin-bottom: 15px;
}
.footer_article_post_line{
    height: 1px;
    background: #242424;
    margin-bottom: 10px;
}
.footer_article_twit_text{
    font-family: Montserrat;
    font-size: 14px;
    color: #555555;
    margin-bottom: 5px;
}
.footer_article_twit_date{
    font-family: Montserrat;
    font-size: 12px;
    color: #363636; 
    margin-bottom: 15px;
}
.wrapper_footer_article_item_widget{
    display: flex;
    flex-wrap: wrap;
}
.img_footer_article_item_widget:nth-of-type(2n+1){
    margin-right: 8px;
}
.img_footer_article_item_widget:nth-of-type(-n+2){
    margin-bottom: 8px;
}
.footer_article_twit_span_blue{
    color: #00BFF3;
}
.footer_article_twit_span_757575{
    color: #757575;
}
.footer_article_post:hover .footer_article_post_date{
    color: #FFFFFF;
}

.footer_article_post:hover .footer_article_post_text{
    color: #C7B299;
}
.fooret_copyright{
    background-color: #101010;
    padding: 60px 0 40px 0;
}
.fooret_copyright_nav_link_ref {
    text-decoration: none;
    font-family: Montserrat;
    font-size: 13px;
    color: #555555;  
}
.fooret_copyright_nav_link_ref:nth-of-type(-n+3){
    border-right: #1A1A1A 1px solid;
    margin-right: 12px;
    padding-right: 12px;
}
.fooret_copyright_nav_link_ref:hover{
    color: #BAA78F;
}